article.container
	div.row
		div.col.m12.l6
			img(ng-src="{{event.image}}" alt="{{event.name}}").responsive-img.z-depth-2
		div.col.m12.l6
			h2{{event.name}}
			p{{event.description}}
			span Price: {{event.price}}
